clip
datasets
diffusers
matplotlib
noise
numpy
openai
opencv_python
opencv_python_headless
Pillow
pycairo
Requests
safetensors
scikit_learn
scipy
scikit-image
spacy
torch
torchvision
tqdm
transformers
