clip==1.0
diffusers==0.30.0.dev0
matplotlib==3.8.4
numpy==1.24.4
opencv_python==4.9.0.80
opencv_python_headless==4.10.0.84
Pillow
Requests==2.32.3
spacy==3.7.4
torch==2.4.0
transformers==4.44.0
accelerate
